<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="content" style="height: 100vh;">

<h1 class="mb-3" style="color: #15452B; font-weight: medium; font-family: 'Poppins', sans-serif; font-size: 5em; text-align: center;">Pantry Pal</h1>
<p class="mb-12 text-base text-gray-500" style="color: #15452B; font-family: 'Poppins', sans-serif; font-size: 1.5em; text-align: center;">Got food at home? See what you can make!</p>

  <form class="form-container" action="/recipes" enctype="multipart/form-data" method="GET">
    <%# <div class="input-container"> %>
      <%# <input name="foodItem" type="text" id="foodItem" class="food-item-input" placeholder="Enter item" autofocus="" value=""> %>
        <%# class:"add-button" %>
      <%# <button class="add-button" disabled="" type="submit">+</button> %>
    <%# </div> %>

    <%# <div > %>
      <%# <%= simple_form_for @recipe, method: :index do |f|%>
        <%# <%= f.input :ingredients, collection: @ingredients, %>
          <%# input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}}  %>
      <%# <% end %>
      <%# class:"add-button" %>
    <%# </div> %>

    <div class="ingredients-form-container">
      <%= form_for :recipe, url: recipes_path, method: :get do |f| %>
        <%= f.text_field :ingredients, class: "ingredients-text-field", data: {controller: "tom-select", tom_select_options_value: {tags: true}} %>
        <%= f.submit 'Find recipes', class: "ingredients-button" %>
      <% end %>
    </div>

    <%# <div> %>
      <%# <ul class="items-list px-1"></ul> %>
      <%# <input type="hidden" name="foodList" value="[]"> %>
      <%# <button class="submit-button" disabled="" aria-label="Find Recipe" type="submit">Find Recipes</button> %>
      <%# <%= link_to "Find Recipes", recipes_path(@recipes) %>
    <%# </div> %>
  <%# </form> %>

  <div class="homepage-recent-recipes-container">
    <h2 class="pt-5 text-center" style="font-family: 'Poppins', sans-serif; color:#15452B; padding-top: 20px">Recent Recipes</h2>

    <div>

  </div>

<section>
  <% if @recipes %>
    <style>
      .recipes-grid {
        display: grid;
        grid-gap: 20px; /* Adjust this according to your design */
      }

      .recipe-card {
        /* Add any styles you want for each recipe card */
      }

      /* Responsive Grid */
      @media screen and (min-width: 768px) {
        .recipes-grid {
          grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
        }
      }

      @media screen and (min-width: 1024px) {
        .recipes-grid {
          grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
        }
      }

      @media screen and (min-width: 1280px) {
        .recipes-grid {
          grid-template-columns: repeat(4, 1fr); /* 4 columns on extra large screens */
        }
      }
    </style>
    <div class="recipes-grid">
      <% @recipes.each do |recipe| %>
        <div class="recipe-card">
          <%= render 'shared/recipe_card', recipe: recipe %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
<%# hello %>
