<!-- app/views/recipes/show.html.erb -->
<div class="recipe-page">
  <div class="recipe-header">
    <div class="recipe-title">
      <h2><%= @recipes.title %></h2>
      <p><%= @recipes.description %></p>
    </div>
  </div>

  <div class="recipe-body">
    <h3>Ingredients</h3>
      <ul>
        <% @recipes.ingredients.split("\n").each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>

    <h3>Instructions</h3>
    <ol>
      <% @recipes.instructions.split("\n").each do |instruction| %>
        <li><%= instruction %></li>
      <% end %>
    </ol>
  </div>

  <div class="recipe-footer">
    <h3>Reviews</h3>
    <%= link_to 'Leave a Review', new_recipe_review_path(@recipes), class: 'review-button' %>
  </div>
</div>
<%# <button class="review-button"><%= link_to 'Leave a Review', class:'create-review-button' %>
