<!-- app/views/recipes/show.html.erb -->
<div class="recipe-page">
  <div class="recipe-header">
    <div class="recipe-title">
      <h2><%= @recipe['title'] %></h2>
      <img src=<%= @recipe['image'] %>>

      <% if @favorite.nil? %>
        <form action=<%= "/favorites/#{@recipe['id']}" %> method='POST'>
          <button class="favorite-button" type='submit'><i class="fa-regular fa-heart"></i></button>
        </form>
      <% else %>
        <form action=<%= "/favorites/#{@recipe['id']}" %> method='DELETE'>
          <button class="favorite-button" type='submit'><i class="fa-solid fa-heart"></i></button>
        </form>
      <% end %>

      <p><%= raw(@recipe['summary']) %></p>
    </div>
  </div>

  <div class="recipe-body">
    <h3>Ingredients</h3>
      <ul>
        <% @recipe['extendedIngredients'].each do |ingredient| %>
          <li><%= ingredient['original'] %></li>
        <% end %>
      </ul>

    <h3>Instructions</h3>
    <ol>
      <% if  @recipe['instructions'] %>
        <% @recipe['instructions'].split("\n").compact_blank.each do |instruction| %>
          <li><%= instruction %></li>
        <% end %>
      <% else %>
        <li>Mix everything and put in the oven.</li>
      <% end %>
    </ol>
  </div>

  <div class="recipe-footer">
    <h3>Reviews</h3>
    <%# <%= link_to 'Leave a Review', new_recipe_review_path(@recipe), class: 'review-button' %> %>
  </div>
</div>

<%# <button class="review-button"><%= link_to 'Leave a Review', class:'create-review-button' %>
